In [1]:
x= c(5,3,4,2,NA,3,5)

In [2]:
x

[1]  5  3  4  2 NA  3  5

In [3]:
mat = sample(1:100,20)

In [4]:
print(mat)

 [1] 92 90 41 20 10 73 86 48 84 85 42 94 39 24 91 74 59 66 81 64

In [5]:
dim(mat ) <- c(5,4)

In [6]:
mat

     [,1] [,2] [,3] [,4]
[1,] 92   73   42   74
[2,] 90   86   94   59
[3,] 41   48   39   66
[4,] 20   84   24   81
[5,] 10   85   91   64

In [7]:
mat = matrix(sample(1:100,20),nrow=5,ncol=4)

In [8]:
mat

     [,1] [,2] [,3] [,4]
[1,] 57   75   76   22
[2,]  2   98   48   66
[3,] 56   85   71   95
[4,] 62   19   46   82
[5,] 79   61    1   10

In [9]:
mat = matrix(1:20,nrow=5,ncol=4,byrow=1)

In [10]:
mat

     [,1] [,2] [,3] [,4]
[1,]  1    2    3    4
[2,]  5    6    7    8
[3,]  9   10   11   12
[4,] 13   14   15   16
[5,] 17   18   19   20

In [11]:
mat[5,3]

[1] 19

In [12]:
mat[1:3,2:4]

     [,1] [,2] [,3]
[1,]  2    3    4
[2,]  6    7    8
[3,] 10   11   12

In [13]:
mat[c(2,3,5),c(1,2,4)]

     [,1] [,2] [,3]
[1,]  5    6    8
[2,]  9   10   12
[3,] 17   18   20

In [14]:
mat[seq(1,5,2),seq(1,4,2)]

     [,1] [,2]
[1,]  1    3
[2,]  9   11
[3,] 17   19

In [15]:
cbind(A=1:5,B=6:10,C=11:15)

     A B  C
[1,] 1  6 11
[2,] 2  7 12
[3,] 3  8 13
[4,] 4  9 14
[5,] 5 10 15

In [16]:
mat= rbind(A=1:5,B=sample(5),C=6:10)

In [17]:
mat

  [,1] [,2] [,3] [,4] [,5]
A 1    2    3    4     5
B 5    3    4    2     1
C 6    7    8    9    10

In [18]:
mat[3,3]

C
8

In [20]:
colnames(mat)

NULL

In [21]:
rownames(mat)

[1] "A" "B" "C"

In [22]:
mat= matrix(1:25,nrow=5,ncol=5,byrow=-1)

In [23]:
mat

     [,1] [,2] [,3] [,4] [,5]
[1,]  1    2    3    4    5
[2,]  6    7    8    9   10
[3,] 11   12   13   14   15
[4,] 16   17   18   19   20
[5,] 21   22   23   24   25

In [24]:
colnames(mat) <- c("A","B","C","D","E")
rownames(mat) <-c("F","G","H","I","J")

In [25]:
mat

  A  B  C  D  E
F  1  2  3  4  5
G  6  7  8  9 10
H 11 12 13 14 15
I 16 17 18 19 20
J 21 22 23 24 25

In [26]:
colSums(mat)

 A  B  C  D  E
55 60 65 70 75

In [27]:
rowSums(mat)

  F   G   H   I   J
 15  40  65  90 115

In [28]:
colMeans(mat)

 A  B  C  D  E
11 12 13 14 15

In [29]:
rowMeans(mat)

 F  G  H  I  J
 3  8 13 18 23

In [30]:
summary(mat)

       A            B            C            D            E
 Min.   : 1   Min.   : 2   Min.   : 3   Min.   : 4   Min.   : 5
 1st Qu.: 6   1st Qu.: 7   1st Qu.: 8   1st Qu.: 9   1st Qu.:10
 Median :11   Median :12   Median :13   Median :14   Median :15
 Mean   :11   Mean   :12   Mean   :13   Mean   :14   Mean   :15
 3rd Qu.:16   3rd Qu.:17   3rd Qu.:18   3rd Qu.:19   3rd Qu.:20
 Max.   :21   Max.   :22   Max.   :23   Max.   :24   Max.   :25

In [32]:
name <- c("sachin","rajat","nidhi","yadvendar")
age <- c(23,30,25,21)
city <- c("tonk","ganganagar","kota","surajghar")
df = data.frame(Name=name,Age=age,City=city)

In [33]:
df

  Name      Age City
1 sachin    23  tonk
2 rajat     30  ganganagar
3 nidhi     25  kota
4 yadvendar 21  surajghar

In [34]:
summary(df)

        Name        Age                City
 nidhi    :1   Min.   :21.00   ganganagar:1
 rajat    :1   1st Qu.:22.50   kota      :1
 sachin   :1   Median :24.00   surajghar :1
 yadvendar:1   Mean   :24.75   tonk      :1
               3rd Qu.:26.25
               Max.   :30.00

In [35]:
car <- mtcars

In [37]:
length(car)

[1] 11