In [1]:
install.packages("sqldf")

Installing package into 'C:/Users/nikhi/Documents/R/win-library/3.6'
(as 'lib' is unspecified)
also installing the dependencies 'bit', 'bit64', 'blob', 'memoise', 'gsubfn', 'proto', 'RSQLite', 'chron'

package 'bit' successfully unpacked and MD5 sums checked
package 'bit64' successfully unpacked and MD5 sums checked
package 'blob' successfully unpacked and MD5 sums checked
package 'memoise' successfully unpacked and MD5 sums checked
package 'gsubfn' successfully unpacked and MD5 sums checked
package 'proto' successfully unpacked and MD5 sums checked
package 'RSQLite' successfully unpacked and MD5 sums checked
package 'chron' successfully unpacked and MD5 sums checked
package 'sqldf' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\nikhi\AppData\Local\Temp\Rtmp2fT7Ps\downloaded_packages

In [2]:
install.packages("tidyr")

Installing package into 'C:/Users/nikhi/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'tidyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\nikhi\AppData\Local\Temp\Rtmp2fT7Ps\downloaded_packages

In [3]:
install.packages("dplyr")

Installing package into 'C:/Users/nikhi/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'dplyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\nikhi\AppData\Local\Temp\Rtmp2fT7Ps\downloaded_packages

In [4]:
install.packages("ggplot2")

Installing package into 'C:/Users/nikhi/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'ggplot2' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\nikhi\AppData\Local\Temp\Rtmp2fT7Ps\downloaded_packages

In [6]:
install.packages("stringer")

Installing package into 'C:/Users/nikhi/Documents/R/win-library/3.6'
(as 'lib' is unspecified)
Warning message:
"package 'stringer' is not available (for R version 3.6.0)"

In [7]:
# to view  data  sets
data()

In [15]:
df=data.frame(year=1880:1899,
         sex=sample(c("boy","girl"),20,replace=T),
         births= sample(seq(100000,140000),20))

In [16]:
df

   year sex  births
1  1880 boy  135394
2  1881 girl 135628
3  1882 boy  132311
4  1883 boy  103578
5  1884 boy  110268
6  1885 boy  105994
7  1886 girl 108707
8  1887 girl 136907
9  1888 boy  105221
10 1889 boy  117296
11 1890 boy  111268
12 1891 boy  105746
13 1892 girl 116626
14 1893 girl 120541
15 1894 boy  111703
16 1895 girl 113269
17 1896 boy  110953
18 1897 girl 114728
19 1898 girl 107776
20 1899 boy  110654

In [17]:
str(df)

'data.frame':	20 obs. of  3 variables:
 $ year  : int  1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 ...
 $ sex   : Factor w/ 2 levels "boy","girl": 1 2 1 1 1 1 2 2 1 1 ...
 $ births: int  135394 135628 132311 103578 110268 105994 108707 136907 105221 117296 ...

In [18]:
summary(df)

      year        sex         births
 Min.   :1880   boy :12   Min.   :103578
 1st Qu.:1885   girl: 8   1st Qu.:108474
 Median :1890             Median :111486
 Mean   :1890             Mean   :115728
 3rd Qu.:1894             3rd Qu.:118107
 Max.   :1899             Max.   :136907

In [19]:
names(df)

[1] "year"   "sex"    "births"