In [1]:
install.packages("sqldf")

Installing package into 'C:/Users/nikhi/Documents/R/win-library/3.6'
(as 'lib' is unspecified)
also installing the dependencies 'bit', 'bit64', 'blob', 'memoise', 'gsubfn', 'proto', 'RSQLite', 'chron'

package 'bit' successfully unpacked and MD5 sums checked
package 'bit64' successfully unpacked and MD5 sums checked
package 'blob' successfully unpacked and MD5 sums checked
package 'memoise' successfully unpacked and MD5 sums checked
package 'gsubfn' successfully unpacked and MD5 sums checked
package 'proto' successfully unpacked and MD5 sums checked
package 'RSQLite' successfully unpacked and MD5 sums checked
package 'chron' successfully unpacked and MD5 sums checked
package 'sqldf' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\nikhi\AppData\Local\Temp\Rtmp2fT7Ps\downloaded_packages

In [2]:
install.packages("tidyr")

Installing package into 'C:/Users/nikhi/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'tidyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\nikhi\AppData\Local\Temp\Rtmp2fT7Ps\downloaded_packages

In [3]:
install.packages("dplyr")

Installing package into 'C:/Users/nikhi/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'dplyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\nikhi\AppData\Local\Temp\Rtmp2fT7Ps\downloaded_packages

In [4]:
install.packages("ggplot2")

Installing package into 'C:/Users/nikhi/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'ggplot2' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\nikhi\AppData\Local\Temp\Rtmp2fT7Ps\downloaded_packages

In [6]:
install.packages("stringer")

Installing package into 'C:/Users/nikhi/Documents/R/win-library/3.6'
(as 'lib' is unspecified)
Warning message:
"package 'stringer' is not available (for R version 3.6.0)"

In [7]:
# to view  data  sets
data()

In [15]:
df=data.frame(year=1880:1899,
         sex=sample(c("boy","girl"),20,replace=T),
         births= sample(seq(100000,140000),20))

In [16]:
df

   year sex  births
1  1880 boy  135394
2  1881 girl 135628
3  1882 boy  132311
4  1883 boy  103578
5  1884 boy  110268
6  1885 boy  105994
7  1886 girl 108707
8  1887 girl 136907
9  1888 boy  105221
10 1889 boy  117296
11 1890 boy  111268
12 1891 boy  105746
13 1892 girl 116626
14 1893 girl 120541
15 1894 boy  111703
16 1895 girl 113269
17 1896 boy  110953
18 1897 girl 114728
19 1898 girl 107776
20 1899 boy  110654

In [17]:
str(df)

'data.frame':	20 obs. of  3 variables:
 $ year  : int  1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 ...
 $ sex   : Factor w/ 2 levels "boy","girl": 1 2 1 1 1 1 2 2 1 1 ...
 $ births: int  135394 135628 132311 103578 110268 105994 108707 136907 105221 117296 ...

In [18]:
summary(df)

      year        sex         births
 Min.   :1880   boy :12   Min.   :103578
 1st Qu.:1885   girl: 8   1st Qu.:108474
 Median :1890             Median :111486
 Mean   :1890             Mean   :115728
 3rd Qu.:1894             3rd Qu.:118107
 Max.   :1899             Max.   :136907

In [19]:
names(df)

[1] "year"   "sex"    "births"

In [20]:
colnames(df)

[1] "year"   "sex"    "births"

In [21]:
rownames(df)

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "11" "12" "13" "14" "15"
[16] "16" "17" "18" "19" "20"

In [22]:
dim(df)

[1] 20  3

In [23]:
head(df)

  year sex  births
1 1880 boy  135394
2 1881 girl 135628
3 1882 boy  132311
4 1883 boy  103578
5 1884 boy  110268
6 1885 boy  105994

In [24]:
tail(df)

   year sex  births
15 1894 boy  111703
16 1895 girl 113269
17 1896 boy  110953
18 1897 girl 114728
19 1898 girl 107776
20 1899 boy  110654

In [27]:
tail(head(df,15),5)

   year sex  births
11 1890 boy  111268
12 1891 boy  105746
13 1892 girl 116626
14 1893 girl 120541
15 1894 boy  111703

In [29]:
max(df$births)

[1] 136907

In [30]:
min(df$births)

[1] 103578

In [31]:
mean(df$births)

[1] 115728.4

In [32]:
median(df$births)

[1] 111485.5

In [33]:
sd(df$births)

[1] 10807.34

In [34]:
var(df$births)

[1] 116798603

In [35]:
quantile(df$births)

      0%      25%      50%      75%     100%
103578.0 108474.2 111485.5 118107.2 136907.0

In [36]:
median(df$births)

[1] 111485.5

In [37]:
summary(df$births)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 103578  108474  111486  115728  118107  136907

In [38]:
length(df)

[1] 3

In [40]:
log(df$births)

 [1] 11.81594 11.81767 11.79291 11.54808 11.61067 11.57114 11.59641 11.82706
 [9] 11.56382 11.67246 11.61970 11.56880 11.66673 11.69975 11.62360 11.63752
[17] 11.61686 11.65032 11.58781 11.61416

In [41]:
sin(df$births)

 [1] -0.704279859 -0.743333984 -0.310955861 -0.304857550 -0.945605756
 [6]  0.193314709  0.999191922  0.449540433  0.354843513  0.997255055
[11] -0.800785089 -0.008719722 -0.609889213 -0.942980582  0.506920909
[16]  0.901457631 -0.980354968 -0.176946922  0.498983958  0.733566678

In [42]:
fivenum(df$births)

[1] 103578.0 108241.5 111485.5 118918.5 136907.0

In [43]:
df$births

 [1] 135394 135628 132311 103578 110268 105994 108707 136907 105221 117296
[11] 111268 105746 116626 120541 111703 113269 110953 114728 107776 110654

In [44]:
cummax(df$births)

 [1] 135394 135628 135628 135628 135628 135628 135628 136907 136907 136907
[11] 136907 136907 136907 136907 136907 136907 136907 136907 136907 136907

In [45]:
cumsum(1:10)

 [1]  1  3  6 10 15 21 28 36 45 55

In [46]:
cumprod(1:10)

 [1]       1       2       6      24     120     720    5040   40320  362880
[10] 3628800

In [47]:
cummin(1:10)

 [1] 1 1 1 1 1 1 1 1 1 1

In [48]:
x=sample(10)

In [49]:
x

 [1]  9 10  6  4  8  7  3  2  1  5

In [50]:
cummin(x)

 [1] 9 9 6 4 4 4 3 2 1 1

In [52]:
table(df)

, , births = 103578

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   0    0
  1883   1    0
  1884   0    0
  1885   0    0
  1886   0    0
  1887   0    0
  1888   0    0
  1889   0    0
  1890   0    0
  1891   0    0
  1892   0    0
  1893   0    0
  1894   0    0
  1895   0    0
  1896   0    0
  1897   0    0
  1898   0    0
  1899   0    0

, , births = 105221

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   0    0
  1883   0    0
  1884   0    0
  1885   0    0
  1886   0    0
  1887   0    0
  1888   1    0
  1889   0    0
  1890   0    0
  1891   0    0
  1892   0    0
  1893   0    0
  1894   0    0
  1895   0    0
  1896   0    0
  1897   0    0
  1898   0    0
  1899   0    0

, , births = 105746

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   0    0
  1883   0    0
  1884   0    0
  1885   0    0
  1886   0    0
  1887   0    0
  1888   0    0
  1889   0    0
  1890   0    0
  1891   1    0
  1892   0    0
  1893   0    0
  1894   0    0
  1895   0    0
  1896   0    0
  1897   0    0
  1898   0    0
  1899   0    0

, , births = 105994

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   0    0
  1883   0    0
  1884   0    0
  1885   1    0
  1886   0    0
  1887   0    0
  1888   0    0
  1889   0    0
  1890   0    0
  1891   0    0
  1892   0    0
  1893   0    0
  1894   0    0
  1895   0    0
  1896   0    0
  1897   0    0
  1898   0    0
  1899   0    0

, , births = 107776

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   0    0
  1883   0    0
  1884   0    0
  1885   0    0
  1886   0    0
  1887   0    0
  1888   0    0
  1889   0    0
  1890   0    0
  1891   0    0
  1892   0    0
  1893   0    0
  1894   0    0
  1895   0    0
  1896   0    0
  1897   0    0
  1898   0    1
  1899   0    0

, , births = 108707

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   0    0
  1883   0    0
  1884   0    0
  1885   0    0
  1886   0    1
  1887   0    0
  1888   0    0
  1889   0    0
  1890   0    0
  1891   0    0
  1892   0    0
  1893   0    0
  1894   0    0
  1895   0    0
  1896   0    0
  1897   0    0
  1898   0    0
  1899   0    0

, , births = 110268

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   0    0
  1883   0    0
  1884   1    0
  1885   0    0
  1886   0    0
  1887   0    0
  1888   0    0
  1889   0    0
  1890   0    0
  1891   0    0
  1892   0    0
  1893   0    0
  1894   0    0
  1895   0    0
  1896   0    0
  1897   0    0
  1898   0    0
  1899   0    0

, , births = 110654

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   0    0
  1883   0    0
  1884   0    0
  1885   0    0
  1886   0    0
  1887   0    0
  1888   0    0
  1889   0    0
  1890   0    0
  1891   0    0
  1892   0    0
  1893   0    0
  1894   0    0
  1895   0    0
  1896   0    0
  1897   0    0
  1898   0    0
  1899   1    0

, , births = 110953

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   0    0
  1883   0    0
  1884   0    0
  1885   0    0
  1886   0    0
  1887   0    0
  1888   0    0
  1889   0    0
  1890   0    0
  1891   0    0
  1892   0    0
  1893   0    0
  1894   0    0
  1895   0    0
  1896   1    0
  1897   0    0
  1898   0    0
  1899   0    0

, , births = 111268

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   0    0
  1883   0    0
  1884   0    0
  1885   0    0
  1886   0    0
  1887   0    0
  1888   0    0
  1889   0    0
  1890   1    0
  1891   0    0
  1892   0    0
  1893   0    0
  1894   0    0
  1895   0    0
  1896   0    0
  1897   0    0
  1898   0    0
  1899   0    0

, , births = 111703

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   0    0
  1883   0    0
  1884   0    0
  1885   0    0
  1886   0    0
  1887   0    0
  1888   0    0
  1889   0    0
  1890   0    0
  1891   0    0
  1892   0    0
  1893   0    0
  1894   1    0
  1895   0    0
  1896   0    0
  1897   0    0
  1898   0    0
  1899   0    0

, , births = 113269

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   0    0
  1883   0    0
  1884   0    0
  1885   0    0
  1886   0    0
  1887   0    0
  1888   0    0
  1889   0    0
  1890   0    0
  1891   0    0
  1892   0    0
  1893   0    0
  1894   0    0
  1895   0    1
  1896   0    0
  1897   0    0
  1898   0    0
  1899   0    0

, , births = 114728

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   0    0
  1883   0    0
  1884   0    0
  1885   0    0
  1886   0    0
  1887   0    0
  1888   0    0
  1889   0    0
  1890   0    0
  1891   0    0
  1892   0    0
  1893   0    0
  1894   0    0
  1895   0    0
  1896   0    0
  1897   0    1
  1898   0    0
  1899   0    0

, , births = 116626

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   0    0
  1883   0    0
  1884   0    0
  1885   0    0
  1886   0    0
  1887   0    0
  1888   0    0
  1889   0    0
  1890   0    0
  1891   0    0
  1892   0    1
  1893   0    0
  1894   0    0
  1895   0    0
  1896   0    0
  1897   0    0
  1898   0    0
  1899   0    0

, , births = 117296

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   0    0
  1883   0    0
  1884   0    0
  1885   0    0
  1886   0    0
  1887   0    0
  1888   0    0
  1889   1    0
  1890   0    0
  1891   0    0
  1892   0    0
  1893   0    0
  1894   0    0
  1895   0    0
  1896   0    0
  1897   0    0
  1898   0    0
  1899   0    0

, , births = 120541

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   0    0
  1883   0    0
  1884   0    0
  1885   0    0
  1886   0    0
  1887   0    0
  1888   0    0
  1889   0    0
  1890   0    0
  1891   0    0
  1892   0    0
  1893   0    1
  1894   0    0
  1895   0    0
  1896   0    0
  1897   0    0
  1898   0    0
  1899   0    0

, , births = 132311

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   1    0
  1883   0    0
  1884   0    0
  1885   0    0
  1886   0    0
  1887   0    0
  1888   0    0
  1889   0    0
  1890   0    0
  1891   0    0
  1892   0    0
  1893   0    0
  1894   0    0
  1895   0    0
  1896   0    0
  1897   0    0
  1898   0    0
  1899   0    0

, , births = 135394

      sex
year   boy girl
  1880   1    0
  1881   0    0
  1882   0    0
  1883   0    0
  1884   0    0
  1885   0    0
  1886   0    0
  1887   0    0
  1888   0    0
  1889   0    0
  1890   0    0
  1891   0    0
  1892   0    0
  1893   0    0
  1894   0    0
  1895   0    0
  1896   0    0
  1897   0    0
  1898   0    0
  1899   0    0

, , births = 135628

      sex
year   boy girl
  1880   0    0
  1881   0    1
  1882   0    0
  1883   0    0
  1884   0    0
  1885   0    0
  1886   0    0
  1887   0    0
  1888   0    0
  1889   0    0
  1890   0    0
  1891   0    0
  1892   0    0
  1893   0    0
  1894   0    0
  1895   0    0
  1896   0    0
  1897   0    0
  1898   0    0
  1899   0    0

, , births = 136907

      sex
year   boy girl
  1880   0    0
  1881   0    0
  1882   0    0
  1883   0    0
  1884   0    0
  1885   0    0
  1886   0    0
  1887   0    1
  1888   0    0
  1889   0    0
  1890   0    0
  1891   0    0
  1892   0    0
  1893   0    0
  1894   0    0
  1895   0    0
  1896   0    0
  1897   0    0
  1898   0    0
  1899   0    0

In [53]:
rich <- sample(1:20,10)

In [54]:
graze <-sample(c("mow","numow"),10,replace=T)

In [57]:
data=data.frame(rich=rich,graze=graze)

In [58]:
data

   rich graze
1   7   mow
2   3   mow
3  16   numow
4   8   numow
5   4   mow
6  13   numow
7   6   mow
8  20   numow
9  10   mow
10  9   mow

In [59]:
table(data)

    graze
rich mow numow
  3    1     0
  4    1     0
  6    1     0
  7    1     0
  8    0     1
  9    1     0
  10   1     0
  13   0     1
  16   0     1
  20   0     1

In [60]:
table(df$year,df$births)

       103578 105221 105746 105994 107776 108707 110268 110654 110953 111268
  1880      0      0      0      0      0      0      0      0      0      0
  1881      0      0      0      0      0      0      0      0      0      0
  1882      0      0      0      0      0      0      0      0      0      0
  1883      1      0      0      0      0      0      0      0      0      0
  1884      0      0      0      0      0      0      1      0      0      0
  1885      0      0      0      1      0      0      0      0      0      0
  1886      0      0      0      0      0      1      0      0      0      0
  1887      0      0      0      0      0      0      0      0      0      0
  1888      0      1      0      0      0      0      0      0      0      0
  1889      0      0      0      0      0      0      0      0      0      0
  1890      0      0      0      0      0      0      0      0      0      1
  1891      0      0      1      0      0      0      0      0      0      0
  1892      0      0      0      0      0      0      0      0      0      0
  1893      0      0      0      0      0      0      0      0      0      0
  1894      0      0      0      0      0      0      0      0      0      0
  1895      0      0      0      0      0      0      0      0      0      0
  1896      0      0      0      0      0      0      0      0      1      0
  1897      0      0      0      0      0      0      0      0      0      0
  1898      0      0      0      0      1      0      0      0      0      0
  1899      0      0      0      0      0      0      0      1      0      0

       111703 113269 114728 116626 117296 120541 132311 135394 135628 136907
  1880      0      0      0      0      0      0      0      1      0      0
  1881      0      0      0      0      0      0      0      0      1      0
  1882      0      0      0      0      0      0      1      0      0      0
  1883      0      0      0      0      0      0      0      0      0      0
  1884      0      0      0      0      0      0      0      0      0      0
  1885      0      0      0      0      0      0      0      0      0      0
  1886      0      0      0      0      0      0      0      0      0      0
  1887      0      0      0      0      0      0      0      0      0      1
  1888      0      0      0      0      0      0      0      0      0      0
  1889      0      0      0      0      1      0      0      0      0      0
  1890      0      0      0      0      0      0      0      0      0      0
  1891      0      0      0      0      0      0      0      0      0      0
  1892      0      0      0      1      0      0      0      0      0      0
  1893      0      0      0      0      0      1      0      0      0      0
  1894      1      0      0      0      0      0      0      0      0      0
  1895      0      1      0      0      0      0      0      0      0      0
  1896      0      0      0      0      0      0      0      0      0      0
  1897      0      0      1      0      0      0      0      0      0      0
  1898      0      0      0      0      0      0      0      0      0      0
  1899      0      0      0      0      0      0      0      0      0      0

In [61]:
setwd("C:\\Users\\nikhi\\Desktop\\R lang\\PythonInternBatch2018\\Advance_Python\\Data_Science\\R")

In [62]:
df1=read.csv("data1.csv")

In [63]:
df1

  X song               name
1 1 Across the univers John
2 2 Come Together      John
3 3 Hello, Goodbye     Paul
4 4 Peggy Sue          Buddy

In [64]:
df2=read.csv("data2.csv")

In [65]:
df2

  X name   plays
1 1 George sitar
2 2 John   guitar
3 3 Paul   bass
4 4 Ringo  drums

In [66]:
merge(x=df1,y=df2,by='name')

  name X.x song               X.y plays
1 John 1   Across the univers 2   guitar
2 John 2   Come Together      2   guitar
3 Paul 3   Hello, Goodbye     3   bass

In [67]:
df1=df1[2:3]

In [68]:
df1

  song               name
1 Across the univers John
2 Come Together      John
3 Hello, Goodbye     Paul
4 Peggy Sue          Buddy

In [69]:
df2=df2[2:3]

In [70]:
df2

  name   plays
1 George sitar
2 John   guitar
3 Paul   bass
4 Ringo  drums

In [71]:
merge(x=df1,y=df2,by='name')

  name song               plays
1 John Across the univers guitar
2 John Come Together      guitar
3 Paul Hello, Goodbye     bass

In [72]:
help(merge)

In [73]:
df1= data.frame(sid=sample(1:10,6),name=sample(letters[1:10],6))

In [74]:
df1

  sid name
1  8  d
2  3  e
3  5  b
4 10  c
5  9  h
6  2  g

In [78]:
df2= data.frame(id=sample(1:20,12),marks=sample(60:100,12))

In [79]:
df2

   id marks
1  11  99
2   1  72
3   2  66
4   3  94
5  20  76
6  15  85
7  13  83
8   9  67
9   8  64
10 18 100
11 19  73
12 14  86

In [80]:
df=merge(df1,df2,by.x='sid',by.y='id')

In [81]:
df

  sid name marks
1 2   g    66
2 3   e    94
3 8   d    64
4 9   h    67

In [83]:
df1=data.frame(
    id=1:10,
    name=c("afzal","aniket","anil","anish","anjali","anshima","apoorva","dependar","hanisha","imran"),
    sex=c("male","male","male","male","female","female","female","male","female","male")
)

In [85]:
df2=data.frame(
    id=1:10,
    math=sample(60:90,10),
    science=sample(60:90,10)
)

In [86]:
df1

   id name     sex
1   1 afzal    male
2   2 aniket   male
3   3 anil     male
4   4 anish    male
5   5 anjali   female
6   6 anshima  female
7   7 apoorva  female
8   8 dependar male
9   9 hanisha  female
10 10 imran    male

In [87]:
df2

   id math science
1   1 63   83
2   2 73   73
3   3 77   61
4   4 64   64
5   5 90   85
6   6 74   88
7   7 88   89
8   8 76   81
9   9 82   66
10 10 71   82

In [88]:
df=cbind(df1[,c('id','name')],df2[,c('math','science')])

In [89]:
df

   id name     math science
1   1 afzal    63   83
2   2 aniket   73   73
3   3 anil     77   61
4   4 anish    64   64
5   5 anjali   90   85
6   6 anshima  74   88
7   7 apoorva  88   89
8   8 dependar 76   81
9   9 hanisha  82   66
10 10 imran    71   82

In [90]:
head(df)

  id name    math science
1 1  afzal   63   83
2 2  aniket  73   73
3 3  anil    77   61
4 4  anish   64   64
5 5  anjali  90   85
6 6  anshima 74   88

In [96]:
dff=data.frame(
    id=11:14,
    name=c("animesh","niraj","shivansh","mohit"),
    math=sample(60:100,4),
    science=sample(60:100,4))

In [97]:
dff

  id name     math science
1 11 animesh  70   81
2 12 niraj    97   77
3 13 shivansh 75   67
4 14 mohit    62   80

In [98]:
df3=rbind(df,dff)

In [99]:
df3

   id name     math science
1   1 afzal    63   83
2   2 aniket   73   73
3   3 anil     77   61
4   4 anish    64   64
5   5 anjali   90   85
6   6 anshima  74   88
7   7 apoorva  88   89
8   8 dependar 76   81
9   9 hanisha  82   66
10 10 imran    71   82
11 11 animesh  70   81
12 12 niraj    97   77
13 13 shivansh 75   67
14 14 mohit    62   80

In [100]:
t(df3)

        [,1]  [,2]   [,3] [,4]  [,5]   [,6]    [,7]    [,8]     [,9]    [,10]
id       1     2      3    4     5      6       7       8        9      10
name    afzal aniket anil anish anjali anshima apoorva dependar hanisha imran
math    63    73     77   64    90     74      88      76       82      71
science 83    73     61   64    85     88      89      81       66      82
        [,11]   [,12] [,13]    [,14]
id      11      12    13       14
name    animesh niraj shivansh mohit
math    70      97    75       62
science 81      77    67       80

In [101]:
library(reshape2)

In [103]:
car=mtcars

In [105]:
head(car)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [106]:
x= iris

In [107]:
x

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
... ...          ...         ...          ...         ...
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [111]:
dcast(x,Sepal.Length+Sepal.Width+Petal.Length+Petal.Width~Species)

Using Species as value column: use value.var to override.
Aggregation function missing: defaulting to length

    Sepal.Length Sepal.Width Petal.Length Petal.Width setosa versicolor
1   4.3          3.0         1.1          0.1         1      0
2   4.4          2.9         1.4          0.2         1      0
3   4.4          3.0         1.3          0.2         1      0
4   4.4          3.2         1.3          0.2         1      0
5   4.5          2.3         1.3          0.3         1      0
6   4.6          3.1         1.5          0.2         1      0
7   4.6          3.2         1.4          0.2         1      0
8   4.6          3.4         1.4          0.3         1      0
9   4.6          3.6         1.0          0.2         1      0
10  4.7          3.2         1.3          0.2         1      0
11  4.7          3.2         1.6          0.2         1      0
12  4.8          3.0         1.4          0.1         1      0
13  4.8          3.0         1.4          0.3         1      0
14  4.8          3.1         1.6          0.2         1      0
15  4.8          3.4         1.6          0.2         1      0
16  4.8          3.4         1.9          0.2         1      0
17  4.9          2.4         3.3          1.0         0      1
18  4.9          2.5         4.5          1.7         0      0
19  4.9          3.0         1.4          0.2         1      0
20  4.9          3.1         1.5          0.1         1      0
21  4.9          3.1         1.5          0.2         1      0
22  4.9          3.6         1.4          0.1         1      0
23  5.0          2.0         3.5          1.0         0      1
24  5.0          2.3         3.3          1.0         0      1
25  5.0          3.0         1.6          0.2         1      0
26  5.0          3.2         1.2          0.2         1      0
27  5.0          3.3         1.4          0.2         1      0
28  5.0          3.4         1.5          0.2         1      0
29  5.0          3.4         1.6          0.4         1      0
30  5.0          3.5         1.3          0.3         1      0
... ...          ...         ...          ...         ...    ...
120 6.6          2.9         4.6          1.3         0      1
121 6.6          3.0         4.4          1.4         0      1
122 6.7          2.5         5.8          1.8         0      0
123 6.7          3.0         5.0          1.7         0      1
124 6.7          3.0         5.2          2.3         0      0
125 6.7          3.1         4.4          1.4         0      1
126 6.7          3.1         4.7          1.5         0      1
127 6.7          3.1         5.6          2.4         0      0
128 6.7          3.3         5.7          2.1         0      0
129 6.7          3.3         5.7          2.5         0      0
130 6.8          2.8         4.8          1.4         0      1
131 6.8          3.0         5.5          2.1         0      0
132 6.8          3.2         5.9          2.3         0      0
133 6.9          3.1         4.9          1.5         0      1
134 6.9          3.1         5.1          2.3         0      0
135 6.9          3.1         5.4          2.1         0      0
136 6.9          3.2         5.7          2.3         0      0
137 7.0          3.2         4.7          1.4         0      1
138 7.1          3.0         5.9          2.1         0      0
139 7.2          3.0         5.8          1.6         0      0
140 7.2          3.2         6.0          1.8         0      0
141 7.2          3.6         6.1          2.5         0      0
142 7.3          2.9         6.3          1.8         0      0
143 7.4          2.8         6.1          1.9         0      0
144 7.6          3.0         6.6          2.1         0      0
145 7.7          2.6         6.9          2.3         0      0
146 7.7          2.8         6.7          2.0         0      0
147 7.7          3.0         6.1          2.3         0      0
148 7.7          3.8         6.7          2.2         0      0
149 7.9          3.8         6.4          2.0         0      0
    virginica
1   0
2   0
3   0
4   0
5   0
6   0
7   0
8   0
9   0
10  0
11  0
12  0
13  0
14  0
15  0
16  0
17  0
18  1
19  0
20  0
21  0
22  0
23  0
24  0
25  0
26  0
27  0
28  0
29  0
30  0
... ...
120 0
121 0
122 1
123 0
124 1
125 0
126 0
127 1
128 1
129 1
130 0
131 1
132 1
133 0
134 1
135 1
136 1
137 0
138 1
139 1
140 1
141 1
142 1
143 1
144 1
145 1
146 1
147 1
148 1
149 1

In [119]:
df=data.frame(
    subject=1:4,
    sex= sample(c("male","female"),4,replace=T),
    control=c(8.9,6.2,9.4,10.5),
    cond1=c(11.33,10.7,12.1,13.5),
    cond2=c(10.6,12.1,13.6,13.9)
)

In [120]:
df

  subject sex    control cond1 cond2
1 1       female  8.9    11.33 10.6
2 2       male    6.2    10.70 12.1
3 3       female  9.4    12.10 13.6
4 4       female 10.5    13.50 13.9

In [122]:
df1=melt(df)

Using sex as id variables

In [123]:
df1

   sex    variable value
1  female subject   1.00
2  male   subject   2.00
3  female subject   3.00
4  female subject   4.00
5  female control   8.90
6  male   control   6.20
7  female control   9.40
8  female control  10.50
9  female cond1    11.33
10 male   cond1    10.70
11 female cond1    12.10
12 female cond1    13.50
13 female cond2    10.60
14 male   cond2    12.10
15 female cond2    13.60
16 female cond2    13.90